<div class="container">
  <div class="search-bar-container">
    <app-search (searchValEvent)="applyFilter($event)"></app-search>
    <button class="go-back-button" (click)="goBack()">Go Back</button>
  </div>

  <h1>Menu List</h1>
  <div class="row">
    <ng-container *ngIf="filteredMenus.length > 0; else noItemsFound">
      <div *ngFor="let menu of filteredMenus" class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="menu-card">
          <img [src]="menu.image" alt="Menu Image" class="menu-image">
          <h2 class="menu-title">{{ menu.product }}</h2>
          <p class="menu-price">Price: Rs. {{ menu.price }}</p>
          <p class="menu-description">{{ menu.description }}</p>
          <p class="menu-restaurant">Restaurant: {{ menu.restname }}</p>
          <button id="button" (click)="addToCart(menu)">Add To Cart</button>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template #noItemsFound>
    <p class="no-items-message">Item not found.</p>
  </ng-template>
</div>
