<div class="container">
    <h1>Add Menu Item</h1>
    <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="productName" class="form-label">Product Name</label>
        <input type="text" class="form-input" id="productName"   formControlName="productName" placeholder="Enter product name" name="productName" required>
      </div>
      <div class="form-group">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-input" id="price"  formControlName="price" placeholder="Enter price" name="price" required>
      </div>
      <div class="form-group">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-input" id="description"  formControlName="description" formControlName="description" rows="3" placeholder="Enter description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input type="text" class="form-input" id="imageUrl"  formControlName="imageUrl" placeholder="Enter image URL" name="imageUrl" required>
      </div>
      <!-- <div class="form-group">
        <label for="restaurantName" class="form-label">Restaurant Name</label>
        <select [(ngModel)]="selectedRestaurant">
          <option value="">- Select -</option>
          <option *ngFor="let restaurant of restaurantNames"  formControlName="restaurantName" name="restaurantName">{{ restaurant }}</option>
        </select>
      </div> -->
      <div class="form-group">
        <label for="restaurantName" class="form-label">Restaurant Name: </label>
        <select formControlName="restaurantName" name="restaurantName">
          <option value="">- Select -</option>
          <option *ngFor="let restaurant of restaurantNames" [value]="restaurant">{{ restaurant }}</option>
        </select>
      </div>
      <button type="submit" class="form-submit">Submit</button>
    </form>
  </div>
  