
body {
    font-family: Arial, sans-serif;
  }

  .container {
    position: relative;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    /* background-image: url('https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141353.jpg'); */
    background-size: cover;
    background-color:rgba(0, 0, 0, 0.5);
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://t3.ftcdn.net/jpg/03/51/57/44/360_F_351574443_6mZtd2RFcaGXJQPABkbMEV76lRwltn0q.jpg');
  }
  h1{
    text-align: center;
  }

  .dashboard-buttons {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .dashboard-button {
    width: 200px;
    height: 150px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }

  .dashboard-button:hover {
    background-color: #ddd;
  }

  .dashboard-button-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }

  /* header {
    position: relative;
  }
   */
  #signout-button {
    position: absolute;
    top: 20px;
    right: 60px;
    padding: 10px;
    background-color: #f44336;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #signout-button:hover {
    background-color: #d32f2f;
  }
  

  