.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .menu-card {
    width: 300px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  .menu-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .menu-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .menu-price {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .menu-description {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .menu-restaurant {
    font-size: 14px;
    color: #666;
  }

  #button{
    padding: 10px 20px;
    background-color: #337ab7;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  